<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <ion-title>
      NG Video Player
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngFor="let v of videos">
      <ion-avatar slot="start">
        <img [src]="v.thumb" />
      </ion-avatar>
      <ion-label>{{v.title}}</ion-label>
      <ion-button slot="end" fill="clean" size="large" (click)="play(v.url)">
        <ion-icon name="play-circle-outline"></ion-icon>
      </ion-button>

    </ion-item>

  </ion-list>
</ion-content>